{% for func in funcs %}
<div>
    <p>
        <table>
            <tr>
                <td><b>Name</b></td>
                <td><b>{{func.name}}()</b></td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td>FuncDescription</td>
            </tr>
            <tr>
                <td><b>Syntax</b></td>
                <td>
                    <code>
                        <i>{{func.returnType}}</i> <b>{{func.name}}</b>
                        ({% for param in func.params %}{{param.name}}{% if param.optional %}?{% /if %}{% if not currentLoop.isLast %}, {% /if %}{% /for %})
                    </code>
                </td>
            </tr>
            <tr>
                <td><b>Parameters</b></td>
                <td>
                {% for param in func.params %}
                    <dt><b><code>{{param.name}}{% if param.optional %}?{% /if %}</code></b></dt>
                    <dd>ParamDescription</dd>
                {% /for %}
                </td>
            </tr>
            <tr>
                <td><b>Returns</b></td>
                <td>ReturnDescription</td>
            </tr>
            <!-- <tr>
                <td><b>Related</b></td>
                <td></td>
            </tr> -->
        </table>
    </p>
</div>
{% /for %}